<div class="--allPages box">
      <div class="contain">
        <h1 class="--pageTitle left" >Contact me.</h1>
        <p class="text">Get in touch via the form below, or by emailing &nbsp; <a href="">a-hovhannisyan@web.de</a></p>
    



    <form (submit)="sendMail()" ngNativeValidate #form>
      <input required type="text" placeholder="Name" name="name" #name>
      <input required type="email" placeholder="Mail" name="mail" #mail>

      <textarea required id="" placeholder="Text" cols="30" rows="10" name="message" #message></textarea>

      <div class="sendMail" *ngIf="mailSent">
        <p translate="">Thank you for your message.</p>
        <p translate=""> I will reply as soon as possible.</p>
      </div>
      <button type="submit" #button>Contact me</button>
    </form>
  </div>
  
</div>

