body {
  
    background-color: black;
    // margin: 0% 8% 0 8%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
  }
  
  .--allPages {
   margin: 0 8%;
   height: 100%;
  }



.--pageTitle{
color: #2DFCD8;
text-align: center;
font-family: 'Inter';
font-size: 36px;
padding: 5% 0 0 0;
margin: 0;
}

.--blueLine{
  border-bottom: 2px solid #00b2b2;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24d8b1; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4313c; 
}
