<div class="background --allPages">
   
  
    <div class="contents">
        <span>Hi, <br>
            I'm <span style="color: #FA2759;">Anja</span> Hovhannisyan<br>
            Frontend develop<span style="color: #27faef;">e</span>r
                <br>
               <button> <a routerLink="/contakt"> <a href="#contakt"></a>
            </a>Contact me</button>
        </span>



        <div class="imgBackground">
            <!-- <img src="#" alt=""> -->
        </div>
      
    
          
    </div>        


 